@font-face {
	font-family: EmojiFallback;
	unicode-range: U+000A0-1FAFF;
	src: url('/assets/fonts/TwemojiMozilla.ttf') format('truetype');
}

@font-face {
	font-family: 'Noto Sans';
	src: url('/assets/fonts/NotoSans-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Noto Sans';
	src: url('/assets/fonts/NotoSans-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Noto Sans';
	src: url('/assets/fonts/NotoSans-Italic.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'Noto Sans';
	src: url('/assets/fonts/NotoSans-BoldItalic.ttf') format('truetype');
	font-weight: bold;
	font-style: italic;
}

:root, :host, body {
	--rhdc-text-color: var(--sl-color-neutral-900);
	--rhdc-text-color-faded: var(--sl-color-neutral-600);
	--sl-font-weight-semibold: normal;
	--sl-font-sans: 'Nimbus Sans', 'Noto Sans', Helvetica, Arial, sans-serif;
}

body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	background-color: var(--sl-color-neutral-0);
	font-family: var(--sl-font-sans);
	color: var(--sl-color-neutral-900);
}

.sl-toast-stack {
	bottom: 0 !important;
	top: auto !important;
	left: auto !important;
	right: 0 !important;
}
